<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <script type="text/javascript" src="../static/js/daily_task.js?v008"></script>
    <div>
        <label for="username">姓&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;名</label>
        <input type="text" name="username" id="username">
    </div>

    <div>
        <button type="button" onclick="add_task()">Add&nbsp;Task</button>
        <label id="task_nums" hidden="true">0</label>
    </div>

    <form action method="post" id="main_form">
        <div>
            <button type="button" onclick="submit_daily()">Submit</button>
        </div>
    </form>
</body>
</html>